<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
		<link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />
    </head>
    <body>
		<nav class="navbar navbar-default">
			<div class="container-fluid">
			  <div class="navbar-header">
				<a class="navbar-brand" href="{{path('homepage')}}">Inicio</a>
			  </div>

			  <div class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
				  <li class="active"><a href="#">Link</a></li>
				</ul>
			  </div>
			</div>
		  </nav>
		<div class="container">
			{% block body %}{% endblock %}
		</div>
        
		<script src="{{ asset('js/jquery.min.js') }}"></script>
		<script src="{{ asset('js/bootstrap.min.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
